
<footer id="footer">
    <div class="footer_top pt-4">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Left Side Content -->
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box">
                                <h4>Want to create something together?</h4> <a href="#">
                                    <p>Get in touch</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box">
                                <p class="mb-0">Address</p>
                                <h5>22 Bekar Street.<br>London, England</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box">
                                <h4>Help us make cool things!</h4> <a href="#">
                                    <p>Check our open positions</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box">
                                <p class="mb-0">Contact</p>
                                <h5>Phone: 000 111 222</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <!-- Right Side Content -->
                        <h4 class="form-head">Keep up with news from us</h4>
                        <form onsubmit="event.preventDefault()">
                            <div class="form-group">
                                <div class="col-12 get-input"> <input id="e-mail" type="text" placeholder="first.last@gmail.com" name="email" class="form-control input-box rm-border" onfocus="this.placeholder = ''" onblur="this.placeholder = 'first.last@gmail.com'"> </div>
                            </div>
                            <div class="form-group mt-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                      I agree to the terms and conditions.
                                    </label>
                                  </div>
                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="btn btn-submit rm-border">YES PLEASE</button> 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer_bottom py-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="row justify-content-center justify-content-md-start footer_brand"> <h2>
                        <a href="/">Blog</a>
                    </h2> </div>
                </div>
                <div class="col-md-7 d-flex justify-content-center">
                    <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3"> <a href="#">About</a> </div>
                    <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3"> <a href="#">Privacy Policy</a> </div>
                    <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3"> <a href="#">Contact</a> </div>
                </div>
                <div class="col-md-3 justify-content-center d-flex">  
                    <a href="#">
                        <div class="d-inline-flex px-3 px-md-2 px-lg-3">
                            <i class="fab fa-facebook-f"></i>
                        </div>
                    </a> 
                    <a href="#">
                        <div class="d-inline-flex px-3 px-md-2 px-lg-3">
                            <i class="fab fa-twitter"></i>
                        </div>
                    </a> 
                    <a href="#">
                        <div class="d-inline-flex px-3 px-md-2 px-lg-3">
                            <i class="fab fa-github"></i>
                        </div>
                    </a> 
                    <a href="#">
                        <div class="d-inline-flex px-3 px-md-2 px-lg-3">
                            <i class="fab fa-linkedin-in"></i>
                        </div>
                    </a> 
                </div>
            </div>
        </div>
    </div>
    
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
