<%- include('../partials/header.ejs') %>

<div class="container my-5">
    <div class="error_page d-flex justify-content-center align-items-center">
        <div class="content card p-5 rounded text-center">
            <h2 class="text-muted mb-5 display-4 fw-bold">Internal Server Error!</h2>
            <span><a href="/" class="btn btn-primary">Home</a></span>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %> 